<header>
    <a><h1>Vicki Turner</h1></a>
    <div class="nav">
        <a>About Me</a>
        <a>Blog Posts</a>
        <a>Talks</a>
        <a>LI</a>
        <a>GH</a>
    </div>
</header>

<style>
	header {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0;
        align-items: center;
        background-color: rgb(255, 255, 255);
    }

    .nav a{
        margin: 0 0.5rem;
        padding: 0.5rem;
    }

    h1{
        margin: 0;
    }
</style>
